#box {
  z-index: 100;
  display: none;
  cursor: pointer;
}
#success {
  font-size: 14pt;
}
#playfield {
  height: 500px;
}
#scorebox {
  color: #777;
  font-size: 82%;
  margin-left: 6px;
}
#scorebox.win-hue {
  color: #4B8E34;
}

#cursor-dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #CCC;
  border: 1px solid #333;
  display: none;
}
#cursor-dot.win-hue {
  background-color: #57DC28;
}


@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes info-fade {
    from {background-color: black; color: black;}
    to {background-color: #EFFEFF; color: #0D3E42;}
}

@keyframes info-fade {
    from {background-color: black; color: black;}
    to {background-color: #EFFEFF; color: #0D3E42;}
}

@-webkit-keyframes wininfo-fade {
    from {background-color: black; color: black;}
    to {background-color: white; color: #0D3E42;}
}

@keyframes wininfo-fade {
    from {background-color: black; color: black;}
    to {background-color: white; color: #0D3E42;}
}

@-webkit-keyframes cursor-throb {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}

@keyframes cursor-throb {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}
.info {
  display: none;
  background-color: black;
  border-radius: 4px;
  padding: 1px 35px 30px 40px;
  margin: 10px 30px;
  font-family: serif;
}
.info#wininfo {
  overflow: visible;
  color: black;
}
ol li {
  margin: 10px 0px;
}
.share {
  display: inline-block !important;
  vertical-align: top;
  margin: 25px 20px;
}
.share.sharer-0 label, .share.sharer-1 label {
  background: #EF2B2F !important;
  color: #FFF !important;
  box-shadow: -2px 2px 5px #111;
}
.nav {
  text-align: left;
  font-family: "Oxygen", sans-serif;
}
#wininfo .nav {
  clear: both;
}
.links {
  font-size: 15pt;
  margin: 20px;
  display: inline-block;
}
#creator-link {
  display: none;
}
.attribution {
  font-family: "Oxygen", sans-serif;
  font-size: 75%;
  float: right;
  clear: right;
  text-align: right;
  text-align: right;
}
.attribution p {
  margin: 2px 0px;
}
.buoy {
  display: none;
  float: right;
  margin-left: 10px;
}
.source {
  font-size: 75%;
  padding: 10px;
}
