#box {
  z-index: 100;
  display: none;
  cursor: pointer;
}
#success {
  font-size: 14pt;
}
#playfield {
  height: 480px;
}
#scorebox {
  color: #777;
  font-size: 82%;
  margin-left: 6px;
  margin-right: 10px;
}
#scorebox.win-hue {
  color:　#CCC;
}
#cursor-dot {
  width: 21px;
  height: 21px;
  background: url('cursor-icon.png') no-repeat;
  display: none;
  border-radius: 50%;
  border: 1px solid #AAA;
}
#cursor-dot.win-hue {
  /*background-color: #FFF;*/
}


@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes cursor-throb {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}

@keyframes cursor-throb {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}

@keyframes link-throb {
    0% {border-bottom-color: #B8DBD3;}
    50% {border-bottom-color: black;}
    100% {border-bottom-color: #B8DBD3;}
}

@-webkit-keyframes link-throb {
    0% {border-bottom-color: #B8DBD3;}
    50% {border-bottom-color: black;}
    100% {border-bottom-color: #B8DBD3;}
}

.info {
  display: none;
  color: #0D3E42;
  background-color: #EFFEFF;
  border-radius: 4px;
  padding: 1px 35px 30px 40px;
  margin: 10px 30px;
  font-family: "Lora", serif;
}
.info#wininfo {
  overflow: visible;
  color: black;
  background-color: white;
}
ol li {
  margin: 10px 0px;
}
.share.sharer-1, .share.sharer-0  {
  display: inline-block !important;
  vertical-align: top;
  margin: 25px 20px;
}
.share.sharer-1 label, .share.sharer-0 label {
  background: #EF2B2F !important;
  color: #FFF !important;
  box-shadow: -2px 2px 5px #111;
}
.nav {
  text-align: left;
  font-family: "Oxygen", sans-serif;
}
#wininfo .nav {
  clear: both;
}
.links {
  font-size: 15pt;
  margin: 20px;
  display: inline-block;
}
#creator-link {
  display: none;
}
.attribution {
  font-family: "Oxygen", sans-serif;
  font-size: 75%;
  float: right;
  clear: right;
  text-align: right;
  text-align: right;
}
.attribution p {
  margin: 2px 0px;
}
.buoy {
  display: none;
  float: right;
  margin-left: 10px;
}
.source {
  font-size: 75%;
}
